# it is necessary to specify the order in which the config should be built;
# e.g. if one builds a model, which is then used in two other components, the
# model needs to be instantiated first so that the other two components get the
# same shared object instead of reconstructing the model twice

build_order:
  - run_args
  - args
  - seed # seed the experiment before model initialization, data shuffling, ...
  - dataset

# alternatively, you can specify build_order as a priority dict:
#
# build_order:
#   run_args: 1
#   args: 2
#   seed: 3
#   dataset: 4
#
# this makes it easier to extend the build order in derived configs, one can
# insert a new step and make its priority fall between two existing items, e.g.
#
# build_order:
#   optimizer: 3.5
#

args:
  seed: 0

run_args:
  project_name: runexp_sample_project
  experiment_class: ${method:runexp.DummyExperiment}
  tracker:
    _target_: runexp.MLFlowTracker
    project_name: ${run_args.project_name}
    experiment_name: ${run_args.experiment_name}
    description: ${run_args.description}
    tracking_uri: sqlite:///mlruns/mlruns.db
   
seed:
  _target_: runexp.set_seed
  seed: ${args.seed}
  
dataset:
  _target_: datasets.load_dataset
  path: AI-MO/NuminaMath-TIR
  split: train[:5%]

# when using runexp with transformers/trl trainers, one can disable the
# stock loggers and use a wrapped runexp.MLFlowTracker instead for best
# compatibility

# one should also not forget to set the seed again separately for the trainer
# or potentially even enable full determinism using `full_determinism: true`

# trainer:
#   args:
#     report_to: [] # we are logging to MLFlow
#     seed: ${args.seed}
#
#   callbacks:
#     -
#       _target_: runexp.TrackerTrainerCallback
#       tracker: ${run_args.tracker}
#       log_artifacts: false  # logging of artifacts can optionally be disabled

# Notes:
#  * Prefixing a key with ~ means that it is going to be
#    deleted at the preprocessing stage. This allows one
#    to selectively remove items before things get instantiated.
#  * Prefixing a key with ~~ means that it gets deleted at the
#    postprocessing stage, after everything has been built;
#    this can be useful in decluttering the final config by
#    getting rid of intermediate objects, etc.
#  * We support a concat: resolver for concatenating lists:
#    `test_list: ${concat:${list1},${list2}}`.