build_order:
  - run_args
  - args
  - seed # seed the experiment before model initialization, data shuffling, ...
  - dataset

args:
  seed: 0

run_args:
  project_name: runexp_sample_project
  experiment_class: ${method:runexp.DummyExperiment}
  tracker:
    _target_: runexp.MLFlowTracker
    project_name: ${run_args.project_name}
    experiment_name: ${run_args.experiment_name}
    description: ${run_args.description}
    tracking_uri: sqlite:///mlruns/mlruns.db
   
seed:
  _target_: runexp.set_seed
  seed: ${args.seed}
  
dataset:
  _target_: datasets.load_dataset
  path: AI-MO/NuminaMath-TIR
  split: train[:5%]

# when using runexp with transformers/trl trainers, one can disable the
# stock loggers and use a wrapped runexp.MLFlowTracker instead for best
# compatibility

# one should also not forget to set the seed again separately for the trainer
# or potentially even enable full determinism using `full_determinism: true`

# trainer:
#   args:
#     report_to: [] # we are logging to MLFlow
#     seed: ${args.seed}
#
#   callbacks:
#     -
#       _target_: runexp.TrackerTrainerCallback
#       tracker: ${run_args.tracker}
#       log_artifacts: false  # logging of artifacts can optionally be disabled

# Notes:
#  * Prefixing a key with ~ means that it is going to be
#    deleted at the preprocessing stage. This allows one
#    to selectively remove items before things get instantiated.
#  * Prefixing a key with ~~ means that it gets deleted at the
#    postprocessing stage, after everything has been built;
#    this can be useful in decluttering the final config by
#    getting rid of intermediate objects, etc.